<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BioStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ezbio.Demo.BioStudioProperties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nbis.Image.Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BioStudio.Properties.Settings>
            <setting name="SourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagingFx" serializeAs="String">
                <value>BioSharp</value>
            </setting>
        </BioStudio.Properties.Settings>
        <Ezbio.Demo.BioStudioProperties.Settings>
            <setting name="CurrentFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MruMaxCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ImageTags" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BinaryObject_Base64</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExtractImageFolderPath" serializeAs="String">
                <value>D:\Temp\ImageViewer\Extract</value>
            </setting>
            <setting name="FPReliability" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="ImageTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>WSQ;Fingerprint;Finger</string>
                        <string>J2K;Face;Facial;FacialImage</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Ezbio.Demo.BioStudioProperties.Settings>
        <Nbis.Image.Viewer.Properties.Settings>
            <setting name="CurrentFileFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="MruMaxCount" serializeAs="String">
                <value>20</value>
            </setting>
        </Nbis.Image.Viewer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
